    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<h1>Payment</h1>

<p>Fortune:</p>
<blockquote>{{fortune}}</blockquote>
<p>ny questions or comments.</p>

<ul>
    {{#each tours}}
    {{! I am a new blok and the context has changed }}
        <li>
            {{name}} - {{price}}
            {{#if .. /currencey}}
                ({{../../currency.abbrev}})
            {{/if}}
        </li>
    {{/each}}
</ul>
{{#unless currencies}}
    <p>All prices in {{currency.name}}</p>
{{/unless}}
{{#if specialUrl}}
{{! Im in a new block but the context hasnt been changed soft of }}
    <p>Check out our <a href=""{{specialUrl}}">specials!</p>
{{else}}
    <p>Please check back often for specials</p>
{{/if}}
{{#each currencies}}
    <a href="#" class=""currency"{{.}}</a>
{{else}}
    Unfortunetly we currently accept {{currency.name}}
{{/each}}
